body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    background-color: rgb(58, 58, 58);
    color: ivory;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

nav div {
    background-color: rgb(48, 48, 48);
    top: 0px;
    height: 60px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

nav div a:last-child {
    margin-right: 20px;
    padding-right: 45px;
}

h1 {
    color: rgb(99, 200, 240);
    border-bottom: ivory solid;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

h2 {
    padding-top: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 25px;
    border-bottom: ivory double;
}

h2, h3, h4 {
    color: rgb(0, 255, 247);
    color: rgb(99, 200, 240);
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: rgb(251, 242, 151);
}

a:hover {
    font-weight: bold;
}

section {
    padding-right: 20px;
}

section p {
    display: inline-block;
    margin: 10px 25px 0px 20px;
}

section li {
    padding-right: 20px;
    padding-bottom: 10px;
}

.portfolio-img {
    max-width: 100%;
    padding-left: 20px;
}

.skills-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 20px;
}

.skill {
    margin: 5px;
    border: 5px groove black;
    border: 5px groove black;
    background-color: goldenrod;
    color: black;
    box-shadow: inset;
    padding: 0.5em;
}

.skill:hover {
    box-shadow: 0px 0px 5px gold;
    border: 6x groove black;
    font-weight: bold;
}

footer {
    background-color: rgb(48, 48, 48);
    color: ivory;
    bottom: 0px;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    width: 100%;
}

#sign-off p {
    margin: 0px;
    padding: 0px;
}

#signature {
    font-weight: bold;
    font-style: italic;
}

#profession {
    font-style: italic;
    margin: 0px;
}

#my-links {
    margin-right: 20px;
    padding-right: 45px;
}

#my-links a {
    margin-left: 10px;
}
