/* html and body */
body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    background-color: rgb(58, 58, 58);
    color: ivory;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* nav bar */
nav div {
    background-color: rgb(48, 48, 48);
    top: 0px;
    height: 60px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav div a:last-child {
    margin-right: 20px;
    padding-right: 45px;
}

/* header */
h1 {
    /* color: rgb(99, 200, 240); */
    color: rgb(32, 132, 154);
    font-style: italic;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}

/* main content */
h2 {
    padding-top: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 25px;
    border-bottom: ivory double;
}

h2, h3, h4 {
    /* color: rgb(0, 255, 247); */
    color: rgb(32, 132, 154);
    margin-left: 20px;
}

#portfolio h3 {
    margin-top: 0px;
}

#portfolio img {
    margin-top: 40px;
}

#portfolio p {
    margin-top: 40px;
}

#last-p {
    margin-top: 40px;
}

a {
    text-decoration: none;
    /* color: rgb(251, 242, 151); */
    color: goldenrod;
}

a:hover {
    font-weight: bold;
}

section {
    padding-right: 20px;
}

section p {
    display: inline-block;
    margin: 10px 25px 0px 20px;
}

section li {
    padding-right: 20px;
    padding-bottom: 10px;
}

/* skills */
.skills-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 20px;
}

.skill {
    margin: 5px;
    border: 5px groove black;
    background-color: purple;
    color: ivory;
    box-shadow: inset;
    padding: 0.5em;
}

.skill:hover {
    box-shadow: 0px 0px 5px gold;
    border: 6x groove black;
    font-weight: bold;
}

/* footer and signature */
footer {
    background-color: rgb(48, 48, 48);
    color: ivory;
    bottom: 0px;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    width: 100%;
}

#sign-off p {
    margin: 0px;
    padding: 0px;
}

#signature {
    font-weight: bold;
    font-style: italic;
}

#profession {
    font-style: italic;
    margin: 0px;
}

#my-links {
    margin-right: 20px;
    padding-right: 45px;
}

#my-links a {
    margin-left: 10px;
}

/* carousel */
.slide-indicators {
    --current-slide: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin-top: 20px;
}

.slide-indicator {
    width: 15px;
    height: 15px;
    background-color: rgb(58, 58, 58);
    border: goldenrod solid;
    border-radius: 50%;
    margin: 0.1rem;
}

.slide-indicator:hover {
    box-shadow: 0px 0px 5px gold;
    cursor: pointer;
}

.slide-indicator:first-of-type {
    background-color: goldenrod;
}

.carousel {
    --current-slide: 0;
    position: relative;
    display: flex;
    overflow: hidden;
}

.carousel-button {
    position: absolute;
    top: 50%;
    z-index: 1;
  
    border-radius: 50%;
    background-color: transparent;
    border: solid 1px;
    cursor: pointer;
    color: goldenrod;
  }

.carousel-button:hover {
    font-weight: bold;
    border-width: 2px;
}

.carousel-button_prev {
    margin-left: 20px;
}

.carousel-button_next {
    right: 0;
    margin-right: 25px;
}

.carousel-slides {
    display: flex;
    transition: transform 0.75s;
    transform: translateX(calc(-100% * var(--current-slide)));
}

.carousel-slide {
    flex: 0 0 100%;
}

.portfolio-img {
    width: 80%;
    margin: auto;
    display: block;
    border-radius: 1em;
}
